server:
  port: 19093

spring:
  application:
    name: store-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true # sql 로깅
        format_sql: true # SQL 문 정렬하여 출력
        highlight_sql: true # SQL 문 색 부여
  #        use_sql_comments: true # 콘솔에 표시되는 쿼리문 위에 어떤 실행을 하려는지 HINT 표시
  data:
    redis:
      host: localhost
      port: 6379
      username: default
      password: systempass


eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/


naver:
  client-id: om679kuuum
  client-secret: DYTewOBesTI0M7YxHANwbKAWHTVNfgqK2jcOmell

springdoc:
  api-docs:
    enabled: true
    path: /store-service/v3/api-docs
  swagger-ui:
    path: /store-service/swagger-ui.html
